* {
                      margin: 0;
                      padding: 0;
                      }
                    
                    body {
                    font-size: 120%;
                    background: #ffffff;
                    }
                                    
                    .header {
                    width: 30%;
                    margin: 50px auto 0px;
                    color: rgb(255, 255, 255);
                    background: #10686b;
                    text-align: center;
                    border: 1px solid #b0c4de;
                    border-bottom: none;
                    border-radius: 10px 10px 0px 0px;
                    padding: 20px;
                    }
                                    
                    form {
                    width: 30%;
                    margin: 0 auto;
                    padding: 20px;
                    border: 1px solid #b0c4de;
                    background: white;
                    border-radius: 0px 0px 10px 10px;
                    }
                                    
                    .homeheader {
                    text-align: center;
                    font-size: 5rem;
                    }
                                    
                    .homecontent {
                    text-align: center;
                    padding-top: 3rem;
                    width: 100%;
                    background: #ccc;
                    height: 100vh;
                    }
                                    
                    .input-group {
                    margin: 10px 0px 10px 0px;
                    }
                                    
                    .input-group label {
                    display: block;
                    text-align: left;
                    margin: 3px;
                    }
                                    
                    .input-group input {
                    height: 30px;
                    width: 93%;
                    padding: 5px 10px;
                    font-size: 16px;
                    border-radius: 5px;
                    border: 1px solid gray;
                    }
                                    
                    .btn {
                    padding: 10px;
                    font-size: 15px;
                    color:#ffffff;
                    background: #10686b;
                    border: none;
                    border-radius: 5px;
                    }
                                    
                    .error {
                    width: 92%;
                    margin: 0px auto;
                    padding: 10px;
                    border: 1px solid #a94442;
                    color: #a94442;
                    background: #ffffff;
                    border-radius: 5px;
                    text-align: left;
                    }
                    .success {
                    color: #3c763d;
                    background: #dff9d8;
                    border: 1px solid #3c763d;
                    margin-bottom: 20px;
                    }