.mainshowdatatable {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 100px;
    row-gap: 1em;
}

.subdetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    column-gap: 50px;
}

.filter {
    display: grid;
    grid-template-columns: 25% 20% auto;
    grid-template-rows: 25px;
    column-gap: 18px;
}

.details-student {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    column-gap: 50px;
}

.number {
    font-size: 40px;
    color: black;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }